node_modules
npm-debug.log
yarn-debug.log
yarn-error.log
.env
.git
.gitignore
.vscode
.idea
temp/
*.mp3
*.mp4
*.wav
*.doc
*.pdf

# Logs
logs
*.log
combined.log
error.log

# Arquivos de teste
__tests__
jest.config.js
test

# Arquivos Docker
Dockerfile
docker-compose.yml
.dockerignore

# Outros arquivos desnecessários
README.md
LICENSE
